:root {
  font-size: 20px;
}

.heading {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  font-style: italic;
  font-family: 'Cormorant Infant', 'Times New Roman', 'Arial', sans-serif;
}

.text {
  padding: 20px;
  font-family: 'Vollkorn SC', serif;
}

.outer {
  font-size: 2.5rem;
}

.inner {
  font-size: 2em;
}

.child {
  font-weight: bold;
}

.inner-rem {
  font-size: 2rem;
}

.child-rem {
  font-size: 3rem;
}
