:root {
  font-size: 20px;
}

.heading {
  text-align: center;
  font-size: 64px;
  font-weight: bold;
  font-style: italic;

  font-family: 'Cormorant Infant', 'Times New Roman', 'Arial', sans-serif;
}

.text {
  font-size: 24px;
  font-family: 'Vollkorn SC', serif;
}

.outer {
  background-color: limegreen;
  font-size: 50px;
}

.inner {
  background-color: orange;
  font-size: 2em;
}

.child {
  background-color: dodgerblue;
  font-size: 3em;
}

.inner-rem {
  background-color: orange;
  font-size: 2rem;
}

.child-rem {
  background-color: dodgerblue;
  font-size: 3rem;
}