@font-face {
  font-family: 'Cormorant Infant';
  src: url('../fonts/cormorant-infant/CormorantInfant-Regular.ttf')
      format('truetype'),
    url('../fonts/cormorant-infant/CormorantInfant-Regular.woff') format('woff');

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cormorant Infant';
  src: url('../fonts/cormorant-infant/CormorantInfant-BoldItalic.ttf')
      format('truetype'),
    url('../fonts/cormorant-infant/CormorantInfant-BoldItalic.woff') format('woff');

  font-weight: bold;
  font-style: italic;
}