.container {
  display: grid;
  min-height: 100vh;
  /* указание количества колонок */
  grid-template-columns: 200px 1fr auto 1fr;
  /* указать количество строк */
  grid-template-rows: 1fr auto;
}

.header {
  padding: 20px;
  background-color: dodgerblue;
  color: white;
}

.left-aside {
  background-color: limegreen;
  padding: 20px;
}

.main {
  background-color: orange;
  padding: 30px;
}

.right-aside {
  background-color: aqua;
  padding: 10px 20px;
}

.footer {
  background-color: cornflowerblue;
  padding: 40px;
}
