.header {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  background-color: dodgerblue;
  padding: 25px 20px;
  color: white;
}

.heading {
  font-weight: bold;
  font-size: 2.5rem;
}

.nav {
}

.nav-list {
  display: flex;
  gap: 10px;
}

.nav-list-item {
}

.nav-link {
  padding: 10px;
  color: inherit;
  text-decoration: none;
}

@media print {
  /* что-то типо print.css */
  .header {
    background-color: transparent;
    color: black;
    padding: 20px 15px;
  }

  .heading {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  .heading {
    font-size: 1.5rem;
  }

  .nav-link {
    padding: 0;
  }
}

@media screen and (max-width: 600px) {
  .header {
    background-color: limegreen;
    color: darkblue;
  }
}

@media screen and (max-width: 484px) {
  .header {
    flex-direction: column;
  }
}

/*
  max-width - стили работают до указанной ширины и ниже
  min-width - стили работают от указанной ширины и выше
*/

/*
  500 - 600 - телефоны
  600 - 1000 - планшеты
  1000 - 1300 - ноутбуки
  1300 + - компьютеры
*/