.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: dodgerblue;
  padding: 25px 20px;
  color: white;
}

.heading {
  font-weight: bold;
  font-size: 2.5rem;
}

.nav {
}

.nav-list {
  display: flex;
  gap: 10px;
}

.nav-list-item {
}

.nav-link {
  padding: 10px;
  color: inherit;
  text-decoration: none;
}

@media print {
  /* что-то типо print.css */
  .header {
    background-color: transparent;
    color: black;
    padding: 20px 15px;
  }

  .heading {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 600px) and (min-width: 400px) {
  .header {
    background-color: limegreen;
    color: darkblue;
  }
}


/*
  max-width - стили работают до указанной ширины и ниже
  min-width - стили работают от указанной ширины и выше
*/