@charset "utf-8";
@import './reset.css';
@import './fonts.css';
/* @import './common.css' print, screen;
@import './print.css' print;
@import './screen.css' screen; */
@import './header.css';

/*
  screen - устройства с экранами
  print - для принтеров
  speech - для скринридеров
  all - все сразу
*/

* {
  /* селектор для каждого елемента */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
