* {
  /* селектор для каждого елемента */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  background: orange;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-around;
}

.item {
  display: block;
  padding: 30px;
  font-size: 36px;
  background: dodgerblue;
  color: white;
  border: 5px solid red;
  width: 250px;
}